body {
    margin-top: 20px;
}

.value-label {
    color: #007190;
}

.value-name {
    font-weight: bold;
}

.metric-column {
    margin-top: 12px;
}

.has-tip {
    font-weight: inherit;
}

.has-tip:hover {
    color: inherit;
}

.metric-label {
    color: #903500;
}

.metric-name {
    font-weight: bold;
}

.metric-help {
    color: #606060
}

.range-slider-handle {
    background: #0085a5;
}

.range-slider-handle:hover {
    background: #007190;
}

.your-values-progress {
    background: none;
    border: none;
}

.your-values-progress > span.meter {
    background: #0085a5;
}
