{% load staticfiles %}
{% load site_extras %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en"
      data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Value-Driven Food</title>

    <!-- stylesheets -->
    <link rel="stylesheet"
          href="http://cdn.foundation5.zurb.com/foundation.css"/>
    <link rel="stylesheet" href="{% static "css/global.css" %}" />

</head>

<body>

<div class="overall-container">

    <div class="row">
        <div class="large-12 columns">
            <h1>
                Put Your Money Where Your Mouth Is
            </h1>
            <hr />
        </div>
    </div>


    <div class="row">
        <div class="large-12 columns">
            <article>
                <p>
                    Eat local, buy organic, support fair labor practices,
                    protect natural resources!
                    Do you want your food choices to support your values?
                    Use this interactive site to help you make those decisions.
                </p>
            </article>
            <hr />
        </div>
    </div>


    <div class="row">

    <div class="large-8 columns" role="content">
        {% for value in values %}
            <article>
                <h3>
                    <span class="value-label">Value</span>
                    <span class="value-name">{{ value.name }}</span>
                </h3>

                <h6>
                    <p>{{ value.blurb }}</p>
                </h6>

                {% for metric in value.metrics %}

                    <div class="row">
                        <div class="large-4 columns metric-column">
                            <h5 {% if metric.help_text %}
                                data-tooltip aria-haspopup="true"
                                class="has-tip"
                                title="{{ metric.help_text }}"
                            {% endif %}>
                                <span class="metric-label">Metric</span>
                                <span class="metric-name">{{ metric.name }}</span>
                            </h5>
                        </div>

                        <div class="large-8 columns test">
                            <div class="range-slider metric-slider" data-slider
                                 data-options="step: 1; start: 1; end: 100;"
                                 value-id={{ value.id }}
                                 metric-id={{ metric.id }}>
                              <span class="range-slider-handle"
                                    role="slider" tabindex="0"></span>
                              <span class="range-slider-active-segment"></span>
                              <input type="hidden">
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </article>
            <hr/>
        {% endfor %}

    </div>


    <aside id="fixed-sidebar" class="large-4 columns float-right">
        <div id="sidebar-sticky-wrapper">
            <div class="panel">
                <h4 class="sidebar-header">Your Values</h4>
                {% for value in values %}
                    <div class="row">
                        <div class="large-4 columns">
                            <b>{{ value.name }}</b>
                        </div>
                        <div class="large-8 columns">
                            <div class="progress your-values-progress"
                                 value-id={{ value.id }}>
                                <span class="meter"></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="panel">
                <h4 class="sidebar-header">Our Recommendations</h4>
                <dl id="rec-food-list">
                    {% for food in foods %}
                        <dt>{{ food.name }}</dt>

                        <dd class="rec-item"
                            food-id={{ food.id }}
                            rec-place=1>
                            <span class="rec-label">#1</span>
                            <span class="rec-site"></span>
                        </dd>

                        <dd class="rec-item"
                            food-id={{ food.id }}
                            rec-place=2>
                            <span class="rec-label">#2</span>
                            <span class="rec-site"></span>
                        </dd>

                        <dd class="rec-item"
                            food-id={{ food.id }}
                            rec-place=3>
                            <span class="rec-label">#3</span>
                            <span class="rec-site"></span>
                        </dd>
                    {% endfor %}
                </dl>
            </div>
        </div>
    </aside>

</div>

</div>

<!-- javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation/foundation.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation/foundation.slider.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation/foundation.tooltip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation/foundation.magellan.js"></script>
<script src="{% static "js/jquery.sticky.js" %}"></script>

<script src="{% static "js/index.js" %}"></script>

<script>

$(document).foundation();

$(document).ready(function () {
    setStickySidebar();
    initInteraction({
        {% for value in values %}
            {{ value.id }}: [
                {% for metric in value.metrics %}
                    {{ metric.id }},
                {% endfor %}
            ],
        {% endfor %}
    }, {
        {% for food in foods %}
            {{ food.id }}: {
                {% for site in food.sites %}
                    {{ site.id }}: {
                        {% with scores=site.scores_id %}
                            {% for score in scores %}
                                {{ score }}: {{ scores|get_item:score }},
                            {% endfor %}
                        {% endwith %}
                    },
                {% endfor %}
            },
        {% endfor %}
    }, {
        {% for food in foods %}
            {% for site in food.sites %}
                {{ site.id }}: "{{ site.name }}",
            {% endfor %}
        {% endfor %}
    });
});

</script>

</body>

</html>